Populate/AsRunSchema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="XMLSchema1" targetNamespace="http://tempuri.org/XMLSchema1.xsd" elementFormDefault="qualified"
	xmlns="http://tempuri.org/XMLSchema1.xsd" xmlns:mstns="http://tempuri.org/XMLSchema1.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="asrun">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="startDate" type="xs:string" />
				<xs:element name="startTimeCode" type="xs:string" />
				<xs:element name="duration" type="xs:string" />
				<xs:element name="channel" type="xs:string" />
				<xs:element name="title" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>